* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  scroll-behavior: smooth;
}

:root {
  --primary-color:#3A3637;
  --secondary-color: #FFFF;
  --tertiary-color: #FCB43A;
}

/* HEADER STYLING START */
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  align-content: center;
  font-family: "Staatliches", sans-serif;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--primary-color);
  z-index: 100;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--secondary-color);
  margin: 10px;
  margin-left: 25px;
}

header a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 15px;
}

.headerNav {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}

.headerUl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* END HEADER STYLING*/


/* SECTION STYLING START */
.about {
  display: flex;
  align-content: center;
  margin-bottom: 2vw;
}

.aboutHeading {
  margin: auto;
  font-size: 3vw;
  height: 4vw;
  margin-top: 20px;
}

.about p {
  font-size: large;
  margin: 10px 40px 0 40px;
}

.aboutSection {
  border-radius: 15px;
}

.beeContainer {
  margin: 0 5vw 5vw 5vw;
  width: 100%;
  color: var(--tertiary-color);
  position: relative;
}

.bumblebee {
  position: absolute;
  animation: fly 8s linear 0s infinite alternate;
}

  @keyframes fly {

    /* makes bee fly left to right and goes up and down */
    from { left: 100%; }
    to { left: 0%; }

    from { bottom: 70px; }
    to { bottom: 100%; }
    
    /* makes bee fade */
    from {
      transform : scale(1);
      opacity   : 1;
    }
    50% {
        transform : scale(0.75);
        opacity   : 0.25;
    }
    to {
        transform : scale(1);
        opacity   : 1;
    }

    /* makes bee flip around */
    0% {
      transform: perspective(400px) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateY(180deg);
    }
  };

.contact {
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 15px;
  width: auto;
  padding: 20px;
  margin: 2vw;
}

.contact h1 {
  margin: auto;
}

.contactOptions {
  margin-top: 3vw;
}

.contactOptions a, .contactOptions p {
  font-weight: bold;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-color);
}

.flex-row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.flex-row h1 {
  border-right: solid var(--primary-color) 3px;
  text-align: right;
  font-weight: bold;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 30vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  padding: 20px;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

input {
  width: 25vw;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
}

label {
  font-size: large;
  font-weight: bold;
}

.panda {
  height: 120px;
  width: 80px;
  border: 5px solid black;
  border-radius: 30%;
}

.pandaFace {
  position: relative;
  background-color: white;
  border: 5px solid black;
  height: 90px;
  width: 110px;
  border-radius: 50%;
  bottom: 30px;
  right: 20px;
}

.pandaEarLeft, .pandaEarRight {
  position: relative;
  background-color: black;
  height: 25px;
  width: 40px;
  border-radius: 0px 0px 40px 40px;
}

.pandaEarLeft {
  transform: rotate(145deg);
  bottom: 13px;
  right: 8px;
}

.pandaEarRight {
  transform: rotate(-145deg);
  bottom: 38px;
  left: 78px;
}

.pandaEyeLeft, .pandaEyeRight {
  position: relative;
  background-color: black;
  width: 28px;
  height: 33px;
  border-radius: 50%;
}

.pandaEyeball {
  position: relative;
  top: 8px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}

.pandaEyeLeft {
  bottom: 30px;
  left: 10px;
  transform: rotate(25deg);
}

.pandaEyeRight {
  bottom: 63px;
  left: 72px;
  transform: rotate(-25deg);
}

.pandaHandLeft, .pandaHandRight {
  position: relative;
  width: 25px;
  height: 43px;
  background-color: black;
  border-radius: 30px;
}

.pandaHandLeft {
  transform: rotate(90deg);
  bottom: 28px;
  right: 12px;
  animation: pandaWave 3s infinite;
  transform-origin: top;
}

@keyframes pandaWave {
  50%{
    transform: rotate(120deg);
  }
}

.pandaHandRight {
 transform: rotate(-90deg);
 bottom: 92px;
 left: 89px;
}

.pandaLegLeft, .pandaLegRight {
  position: relative;
  background-color: black;
  width: 17px;
  height: 25px;
  border-radius: 0px 0px 30px 30px;
}

.pandaLegLeft {
  bottom: 65px;
  left: 15px;
}

.pandaLegRight {
  bottom: 90px;
  left: 49px;
}

.pandaNose {
  position: relative;
  height: 8px;
  width: 15px;
  background-color: black;
  border-radius: 15px;
  bottom: 65px;
  left: 48px;
}

.pandaShadow {
  position: relative;
  background-color: rgba(0,0,0,0.2);
  height: 30px;
  width: 100px;
  border-radius: 50%;
  bottom: 105px;
  right: 10px;
}

.portfolio {
  text-align: center;
  color: var(--secondary-color);
}

.portfolioBoxes {
  background-color: var(--primary-color);
  width: 48vw;
  border-radius: 10px;
  margin: 10px 0px;
}

.portfolio h1 {
  font-size: 3vw;
  margin: auto;
  margin-top: 20px;
  height: 4vw;
  color: var(--primary-color);
}

.portfolio h2 {
  padding: 10px;
  height: 5vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio h3 {
  padding: 10px;
}

.portfolioIcons {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
}

.portfolioIcons a {
  color: var(--secondary-color);
}

.portfolioImg {
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vw;
  width: 42vw;
  margin: auto;
  margin-bottom: 2vw;
}

.resume {
  display: flex;
  flex-direction: column;
  margin: 2vw 3vw;
}

.resume a {
  text-decoration: none;
  color: var(--white);
  font-style: italic;
}

.resumeHeader {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.resume h1 {
  margin: auto;
  padding-top: 20px;
}

.resume h2 {
  margin: 10px;
}

.resume li {
  margin: 10px;
  margin-left: 30px;
}

.resumeProficiencies {
  display: flex;
  justify-content: space-evenly;
}

section {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  font-family: "Open Sans", sans-serif;
  padding-top: 75px;
}

.section-body {
  width: 100%;
}

.splashPage {
  display: flex;
  flex-direction: row;
}

.splashText {
  width: 40%;
  margin-left: 15vw;
}

.splashText h1 {
  font-size: xx-large;
}

.splashText a {
  text-decoration: none;
  color: var(--primary-color);
}

.splashImg {
  margin: auto;
}

.work-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* FOOTER STYLING START */

.contact-options {
  font-weight: bold;
  font-size: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-options a {
  padding: 40px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  background-color: var(--primary-color);
  height: auto;
}

footer a {
  color: var(--secondary-color);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 30px;
    justify-content: center;
  }

  header h1 {
      text-align: center;
  }

  .headerUl {
      margin-top: 10px;
      width: 100%;
      justify-content: center;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  header {
      padding-bottom: 10px;
      height: 25px;
  }

  .portfolioBoxes {
      width: 95%;
      padding-top: 5px;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header h1 {
      font-size: 20px;
  }

  .about img {
    display: none;
  }

  .about p {
      margin: auto;
      font-size: large;
      width: 90%;
  }

  .portfolio h2 {
    margin-bottom: 5px;
  }
}